<html>
    <head>
    
    </head>

    <body>
        {% include 'fragments/header.html.twig' %}

        <main>
            {% block body %}{% endblock %}    
        </main>
        
        {% include 'fragments/footer.html.twig' %}
    </body>
</html>
