{% extends 'base.html.twig' %}

{% block body %}
	<h1>Compose new Article</h2>

	{% if data is defined %}
		<div class="alert alert-primary" role="alert">
			Post "{{ data.title }}" created successfully!
		</div>
	{% endif %}

	<form action="?page=post&action=create" method="POST" class="mt-4">
		<div class="mb-3">
			<label for="title" class="form-label">Title</label>
			<input type="text" class="form-control" id="title" name="title">
		</div>

		<div class="mb-3">
			<label for="introduction" class="form-label">Introductory paragraph</label>
			<input type="text" class="form-control" id="introduction" name="introduction">
		</div>

		<div class="mb-3">
			<label for="content" class="form-label">Content</label>
			<textarea class="form-control" id="content" name="content" rows="3"></textarea>
		</div>

		<button type="submit" class="btn btn-primary">Send</button>
	</form>
{% endblock %}
